*{margin: 0;padding: 0; outline: 0;}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 152, 117);
    overflow: hidden;
    padding-bottom: 3rem;

}
.parent
{
    width: 100%;
    height: 100vh;
    background-color: rgb(67, 85, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.child 
{
	width: 50%;
    height: 40vh;
	background-color: #3d4442;
	align-items: center;
	display: flex;
	justify-content: center;
}
.child h1
{
    /* position: absolute; */
    /* top: 35%;
    left: 50%; */
    /* transform: translate(-50% ); */
    width: 42vw;
    font-size: 2rem;
    color: rgb(164, 201, 219);
    text-align: center;
}
.child h1 span{ color: rgb(255, 251, 184);}

.another 
{
	width: 50%;
	height: 40vh;
	font-size: 3rem;
	background: #3d4442;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 5px 5px 11px #ffffff59 inset,-5px -5px 11px #ffffff59 inset;
}
span{color: rgb(255, 255, 255);}
#abc
{
    color: #A4C9DB;
}
/* #typed::after
{
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; ;
} */